<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>

<body>
    <div>
        <div><a href="/articles">Articles</a></div>
        <div><a href="/">Logout</a></div>
    </div>
    <br>
    <hr>
    <br>
    <h1>Post Article:</h1>
    <div>
        <form action="/articles" method="post">
            <input type="text" name="article" placeholder="Article" value="" required />
            <input type="submit" value="Post Article" />
            <input type="reset" value="Reset">
        </form>
    </div>
    <br>
    <br>
    <hr>
    <div>
        <br>
        <br>
        <h1>
            Articles:
        </h1>
        <div>
            <% fetchArticle.forEach((article)=>{ %>


                <li>
                    <%= article.article %>
                </li>
                <a href="/articles/<%= article._id %>/delete">Delete</a>
                <br>
                <br>

                <% }) %>
        </div>
        <br>
        <br>
    </div>
    <div>

    </div>

</body>
<script>
    document.querySelector('input').focus();
</script>

</html>