<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>

<body>
    <div>

        <div><a href="/">Login</a></div>
    </div>

    <div>
        <h1>
            Login Page
        </h1>
    </div>


    <div>
        <form method="post">
            <input type="email" name="email" placeholder="email" value="" required />
            <input type="password" name="password" placeholder="enter password" value="" required />
            <input type="text" name="roles" placeholder="Role: admin or editor?" value="" required>
            <input type="submit" value="Log in" />
            <input type="reset" value="Reset" />
        </form>
    </div>


</body>

</html>